.main-title {
    font-size: 35px;
    letter-spacing: .8px;
    padding-top: 50px;
}
.para-desc{
    padding-left: 0px;
    font-size: 18px;
    line-height: 1.3rem;
    font-family: Nunito,sans-serif;
    
}