.title2{
    padding-top: 10px ;
    padding-bottom:10px ;
    text-align: center;
    margin-top: 50px;
    background-color: #4267b2;
    color: #fff!important;
    border-color: #4267b2!important;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    border-radius: 10px!important;
}
.title3{
    padding-top: 10px ;
    padding-bottom:10px ;
    text-align: center;
    margin-top: 50px;
    color:#3c4858!important;
    border-color: #4267b2!important;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    border-radius: 10px!important;
}
.title4 {
    letter-spacing: .5px;
    font-size: 30px;
    padding-top: 100px;
}
.img5{
    padding-top: 100px;
    width: 100%;
    height: auto;
}